* {
    outline: 0;
}

#content {
    display: grid;
    grid-template-areas:
            "header header header"
            "nav article ads"
            "footer footer footer";
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 20% 1fr 15%;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    height: 100vh;
    margin: 0;
}

header, footer, article, nav, div {
    background: gold;
}
#pageHeader {
    grid-area: header;
    background: green;
}
#pageFooter {
    grid-area: footer;
    background: firebrick;
}
#mainArticle {
    grid-area: article;
    background: magenta;
}
#mainNav {
    grid-area: nav;
    background: navajowhite;
}
#siteAds {
    grid-area: ads;
    background: saddlebrown;
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
    content {
        grid-template-areas:
                "header"
                "article"
                "ads"
                "nav"
                "footer";
        grid-template-rows: 80px 1fr 70px 1fr 70px;
        grid-template-columns: 1fr;
    }
}